### Python Study material Links:

* Python Practice Book: https://anandology.com/python-practice-book/index.html
* Python for you and me: https://pymbook.readthedocs.io/en/latest/
* Learn Python Programming (programmiz.com): https://www.programiz.com/python-programming
* Learn Python Programming (data-flair): https://data-flair.training/blogs/python-tutorial/

In [ ]:
# This is a comment line
# This is another comment line
# This is the last comment line
print ("Hello to All...")

<ul>
    <li> Chapter - 1 </li>
        <ol>
            <li> Data Structure </li>
            <li> Algorithm </li>
            <li> Database </li>
            <li> SQL </li>
            <li> Complexity Analysis </li>
        </ol>
    <li> Chapter - 2 </li>
</ul>
<b> This is a BOLD text...</b><br>

**This is a BOLD Text...**
> This is a new section
* Topic number - 1
* Topic number - 2
* Topic number - 3
* Topic number - 4
* Topic number - 5

<h1> Heading - 1</h1>
<h2> Heading - 2</h2>
<h3> Heading - 3</h3>
<h4> Heading - 4</h4>
<h5> Heading - 5</h5>
<h6> Heading - 6</h6>

# Heading - 1
## Heading - 2
### Heading - 3
#### Heading - 4
##### Heading - 5
###### Heading - 6

In [6]:
num1 = input("Please enter an integer: ")
num2 = input("Please enter another integer: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the sum is", total)
print ("End of the program...")

Please enter an integer:  100
Please enter another integer:  300

100 <class 'str'> 300 <class 'str'>
So the sum is 100300
End of the program...

In [7]:
num1 = int(input("Please enter an integer: "))
num2 = int(input("Please enter another integer: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the sum is", total)
print ("End of the program...")

Please enter an integer:  100
Please enter another integer:  300

100 <class 'int'> 300 <class 'int'>
So the sum is 400
End of the program...

In [9]:
num1 = int(input("Please enter an integer: "))
num2 = int(input("Please enter another integer: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2
diff = num1 - num2
prod = num1 * num2
quot = num1 / num2
print ("So the sum is", total)
print ("So the difference is", diff)
print ("So the product is", prod)
print ("So the quotient is", quot)
print ("End of the program...")

Please enter an integer:  100
Please enter another integer:  20

100 <class 'int'> 20 <class 'int'>
So the sum is 120
So the difference is 80
So the product is 2000
So the quotient is 5.0
End of the program...

In [10]:
num1 = int(input("Please enter an integer: "))
num2 = int(input("Please enter another integer: "))
total = num1 + num2

Please enter an integer:  100
Please enter another integer:  400

In [23]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))
print ("So {0} + {1} = {2}".format(num1, num2, total))
print ("So {2} + {1} = {0}".format(total, num2, num1))
print ("So {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = total))
print ("So {fnum} + {snum} = {tot}".format(tot = total, fnum = num1, snum = num2))
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %d = %f"%(num1, num2, total))
print ("So %d + %d = %8.2f"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")

So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500.000000
So 100 + 400 =   500.00
So 100 + 400 = 500

In [6]:
# conditional statements: Nested conditional statements
# find the maximum of three input numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the maximum number is", num1)
    else:
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  100
Please enter the third number:  300

So the maximum number is 300
End of the program...

In [ ]:
# test cases
# 300 100 200
# 300 200 100
# 100 300 200
# 200 300 100
# 100 200 300
# 200 100 300

In [7]:
# find the maximum of three user input numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200
Please enter the third number:  300

So the maximum number is 300
End of the program...

In [ ]:
Take num1, num2, and num3 as user input
Compare num1 and num2 to find the maximum and minimum of them and keep them in max1 and max2
Now we shall compare between max1, max2, and num3

                         max1        max2
                         500         200
num3 =            700          400          100
2nd maximum =     500          400          200
                  max1         num3         max2

In [12]:
# find the second maximum of three user input numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    max1 = num1; max2 = num2
else:
    max1 = num2; max2 = num1
if (num3 > max1):
    print ("So the second maximum is", max1)
elif (num3 > max2):
    print ("So the second maximum is", num3)
elif (max2 >= num3):
    print ("So the second maximum is", max2)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

So the second maximum is 200
End of the program...

### Operators

In [13]:
# arithmetic operators
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)     # float division
print (100 // 40)    # integer division
print (100 ** 4)     # exponentiation operation
print (100 % 40)     # modulus operation

140
60
4000
2.5
2
100000000
20

In [16]:
# logical operators
print (False or False, False or True, True or False, True or True)
print (False and False, False and True, True and False, True and True)
print (not False, not True)

False True True True
False False False True
True False

In [19]:
# relational (comparison) operators
print (100 > 20, 100 >= 20, 100 < 1000, 100 <= 1000, 100 == 100, 100 != 1000)

True True True True True True

In [22]:
# ternary operator
# operators can be divided as: unary (one operand), binary (two operands) and ternary (three operands)
print (-100)       # example of unary operator
print (100 + 100)  # example of binary operator

num = 100
result = "Even Number" if (num % 2 == 0) else "Odd Number"  # <True Part> if <Condition> else <False Part>
print ("So result =", result)
       
num = 101
result = "Even Number" if (num % 2 == 0) else "Odd Number"
print ("So result =", result)

-100
200
So result = Even Number
So result = Odd Number

In [24]:
# set membership operators: in, not in
print (11 in [11, 22, 33, 44, 55])
print (66 not in [11, 22, 33, 44, 55])

True
True

### Loop Constructs

In [26]:
for i in range(10):
    print (f"i = {i}", end = ", ")

i = 0, i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9,

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
print ("Hello", "to all", sep = " - ")

Hello - to all

In [32]:
for i in range(-5, 5):
    print (f"i = {i}", end = ", ")

i = -5, i = -4, i = -3, i = -2, i = -1, i = 0, i = 1, i = 2, i = 3, i = 4,

In [36]:
for i in range(1, 10, 2):
    print (f"i = {i}", end = ", ")
print ("")
for i in range(1, 10, 3):
    print (f"i = {i}", end = ", ")

i = 1, i = 3, i = 5, i = 7, i = 9,
i = 1, i = 4, i = 7,

In [39]:
for i in range(10):
    print (f"i = {i}", end = ", ")
else:
    print ("\nELSE Block is executing...")
print ("End of the loop...")

i = 0, i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9,
ELSE Block is executing...
End of the loop...

In [44]:
for i in range(10):
    print (f"i = {i}", end = ", ")
    if (i == 5): break
else:
    print ("\nELSE Block is executing...")
print ("\nEnd of the loop...")

i = 0, i = 1, i = 2, i = 3, i = 4, i = 5,
End of the loop...

In [47]:
# check whether one user given number is PRIME or not
# use of the ELSE block in FOR statement
num = int(input("Please enter one integer: "))
for i in range(2, int(num ** 0.5)):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer:  101

101 is a PRIME Number...
End of the program...

In [52]:
# continue statement
for i in range(1, 10):
    if (i == 5 or i == 7):
        print (f"Executing continue statement for i = {i}...")
        continue
    print (f"The current value is i = {i}...")
else:
    print ("ELSE Block is executing...")
print ("End of the program...")

The current value is i = 1...
The current value is i = 2...
The current value is i = 3...
The current value is i = 4...
Executing continue statement for i = 5...
The current value is i = 6...
Executing continue statement for i = 7...
The current value is i = 8...
The current value is i = 9...
ELSE Block is executing...
End of the program...

In [56]:
num = 1
while (num <= 10):
    # print (f"Iterating for num = {num}...")
    print ("Iterating for num = {}...".format(num))
    # num = num + 1    # Assignment operator: =
    num += 1           # Special Assignment operator: += -= *= /= //= **= %=
else:
    print ("ELSE Block is executing...")
print ("End of the program...")

Iterating for num = 1...
Iterating for num = 2...
Iterating for num = 3...
Iterating for num = 4...
Iterating for num = 5...
Iterating for num = 6...
Iterating for num = 7...
Iterating for num = 8...
Iterating for num = 9...
Iterating for num = 10...
ELSE Block is executing...
End of the program...

In [61]:
# nested loop
print ("Visit Doctor...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day Number = {day} and Medicine Number = {medi}...")    # 15 time
        medicount += 1
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")    # 5 times
print ("Thanks to Doctor...")    # 1 time
print (f"So total number of medicines consumed is {medicount}...")
print ("End of the program...")

Visit Doctor...
Good Morning...
Day Number = 1 and Medicine Number = 1...
Day Number = 1 and Medicine Number = 2...
Day Number = 1 and Medicine Number = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day Number = 2 and Medicine Number = 1...
Day Number = 2 and Medicine Number = 2...
Day Number = 2 and Medicine Number = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day Number = 3 and Medicine Number = 1...
Day Number = 3 and Medicine Number = 2...
Day Number = 3 and Medicine Number = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day Number = 4 and Medicine Number = 1...
Day Number = 4 and Medicine Number = 2...
Day Number = 4 and Medicine Number = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day Number = 5 and Medicine Number = 1...
Day Number = 5 and Medicine Number = 2...
Day Number = 5 and Medicine Number = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thanks to Doctor...
So total number of medicines consumed is 15...
End of the program...

In [64]:
print ("Hello" * 4)
print ("Hello " * 4)
print ("Greeting " * 10)

HelloHelloHelloHello
Hello Hello Hello Hello
Greeting Greeting Greeting Greeting Greeting Greeting Greeting Greeting Greeting Greeting

In [ ]:
# Pattern - 1

n = 6         i    .    *
            ---------------
.....*        1    5    1        i, n
....***       2    4    3   . => (n - i)
...*****      3    3    5
..*******     4    2    7   * => (2 * i - 1)
.*********    5    1    9
***********   6    0   11
            ---------------

In [67]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
# Pattern - 2

n = 6         i    .    *
            ---------------
***********   1    0   11        i, n
.*********    2    1    9   . => (i - 1)
..*******     3    2    7
...*****      4    3    5   * => (2 * (n - i) + 1)
....***       5    4    3
.....*        6    5    1
            ---------------

In [70]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [ ]:
# Pattern - 3

n = 11 (ODD)  i    .    *    m = (11 + 1) // 2 = 6 = (n + 1) // 2 = 6
            ---------------
.....*        1    5    1        i, n, m
....***       2    4    3   . => (m - i)
...*****      3    3    5
..*******     4    2    7   * => (2 * i - 1)
.*********    5    1    9
*********** __6____0___11__
.*********    7    1    9
..*******     8    2    7   . => (i - m)
...*****      9    3    5
....***      10    4    3   * => (2 * (n - i) + 1)
.....*       11    5    1
            ---------------

In [75]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m):
        b = (i - m); s = (2 * (n - i) + 1)
    else:
        b = (m - i); s = (2 * i - 1) 
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  12
Please enter the ODD number of layers:  10
Please enter the ODD number of layers:  34
Please enter the ODD number of layers:  24
Please enter the ODD number of layers:  18
Please enter the ODD number of layers:  11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [10]:
# implicit collection objects
list1 = [101, "Williumns", "Developer", True, 1000.50]
print (list1, len(list1), type(list1), id(list1))
tuple1 = (101, "Williumns", "Developer", True, 1000.50)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {"empid":101, "empname":"Williumns", "job":"Developer", "married":True, "salary":1000.50, "empid":505}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {101, "Williumns", "Developer", True, 1000.50, "Developer", True, 1000.50}
print (set1, len(set1), type(set1), id(set1))
frset1 = frozenset([101, "Williumns", "Developer", True, 1000.50])
print (frset1, len(frset1), type(frset1), id(frset1))

[101, 'Williumns', 'Developer', True, 1000.5] 5 <class 'list'> 1831821537088
(101, 'Williumns', 'Developer', True, 1000.5) 5 <class 'tuple'> 1831821867984
{'empid': 505, 'empname': 'Williumns', 'job': 'Developer', 'married': True, 'salary': 1000.5} 5 <class 'dict'> 1831837915840
{True, 101, 'Williumns', 1000.5, 'Developer'} 5 <class 'set'> 1831842920032
frozenset({True, 101, 'Williumns', 1000.5, 'Developer'}) 5 <class 'frozenset'> 1831842918912

In [13]:
list1 = []
print (list1, len(list1), type(list1), id(list1))
tuple1 = ()
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = set()
print (set1, len(set1), type(set1), id(set1))
frset1 = frozenset()
print (frset1, len(frset1), type(frset1), id(frset1))

[] 0 <class 'list'> 1831838025536
() 0 <class 'tuple'> 1833893625920
{} 0 <class 'dict'> 1831837483456
set() 0 <class 'set'> 1831842918688
frozenset() 0 <class 'frozenset'> 1831803656896

In [19]:
# if multiple variables are having values ranging from -5 to 256 (inclusive) then against them same memory space will be allocated
var1 = 256
print (var1, type(var1), id(var1))
var2 = 256
print (var2, type(var2), id(var2))
var3 = var1
print (var3, type(var3), id(var3))
print ("")
var1 = 257
print (var1, type(var1), id(var1))
var2 = 257
print (var2, type(var2), id(var2))
var3 = var1
print (var3, type(var3), id(var3))

256 <class 'int'> 140706413889296
256 <class 'int'> 140706413889296
256 <class 'int'> 140706413889296

257 <class 'int'> 1831842981040
257 <class 'int'> 1831842980944
257 <class 'int'> 1831842981040

In [20]:
var1 = -5
print (var1, type(var1), id(var1))
var2 = -5
print (var2, type(var2), id(var2))
var3 = var1
print (var3, type(var3), id(var3))
print ("")
var1 = -6
print (var1, type(var1), id(var1))
var2 = -6
print (var2, type(var2), id(var2))
var3 = var1
print (var3, type(var3), id(var3))

-5 <class 'int'> 140706413880944
-5 <class 'int'> 140706413880944
-5 <class 'int'> 140706413880944

-6 <class 'int'> 1831842981040
-6 <class 'int'> 1831842980976
-6 <class 'int'> 1831842981040

### Python Functions

In [22]:
def funct1():
    print ("Hello " * 5)
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [23]:
def funct2(msg, times):     # positional parameter
    print (msg * times)
funct2("Hello ", 6)         # positional argument
funct2("Hi !!! ", 3)
funct2("Good Morning ", 7)

Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!!
Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning

In [24]:
def funct3(msg, times):     # positional parameter
    return (msg * times)
result = funct3("Hello ", 6)         # positional argument
print (result)
print (funct3("Hi !!! ", 3))
print (funct3("Good Morning ", 7))

Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!!
Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning

In [35]:
# parameters with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par2 = 200, par1 = 100)
funct4(par2 = 200, par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 200 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 333...

In [38]:
# function return arguments
def funct5(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct5(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct5(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 1831835187136
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [41]:
def funct6(par1, par2 = None):
    # if (par2 == None):
    if (par2 is None):
        return par1 + par1
    else:
        return par1 + par2
    
print (funct6(100, 400))
print (funct6(100))

500
200

In [43]:
# function with variable number of arguments
def funct7(*arg):   # *arg is a variable of tuple type forcefully defined
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Red", "Blue", "Green")
funct7("Red", "Blue", "Green", "White", "Yellow")
funct7("Red", "Blue", "Green", "White", "Yellow", "Silver", "Golden")

('Red', 'Blue', 'Green') 3 <class 'tuple'> 1831837916032
('Red', 'Blue', 'Green', 'White', 'Yellow') 5 <class 'tuple'> 1831821867984
('Red', 'Blue', 'Green', 'White', 'Yellow', 'Silver', 'Golden') 7 <class 'tuple'> 1831843007936

In [46]:
# function with variable number of arguments using key-word arguements
def funct8(**kwarg):   # **kwarg is a variable of dictionary type forcefully defined
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(empid = 101, empname = "Williums", job = "Developer")
funct8(empid = 101, empname = "Williums", job = "Developer", location = "Canada", married = True)
funct8(empid = 101, empname = "Williums", job = "Developer", location = "Canada", married = True, salary = 5000)

{'empid': 101, 'empname': 'Williums', 'job': 'Developer'} 3 <class 'dict'> 1831836803264
{'empid': 101, 'empname': 'Williums', 'job': 'Developer', 'location': 'Canada', 'married': True} 5 <class 'dict'> 1831836896576
{'empid': 101, 'empname': 'Williums', 'job': 'Developer', 'location': 'Canada', 'married': True, 'salary': 5000} 6 <class 'dict'> 1831838608000

In [53]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Red", "Blue", "Green", empid = 101, empname = "Williums", job = "Developer", location = "Canada", married = True)
print ()
funct9("Red", "Blue", "Green")
print ()
funct9(empid = 101, empname = "Williums", job = "Developer", location = "Canada", married = True)
print ()
print (type(funct9), id(funct9))

('Red', 'Blue', 'Green') 3 <class 'tuple'> 1831838646016
{'empid': 101, 'empname': 'Williums', 'job': 'Developer', 'location': 'Canada', 'married': True} 5 <class 'dict'> 1831839140736

('Red', 'Blue', 'Green') 3 <class 'tuple'> 1831838646016
{} 0 <class 'dict'> 1831839139648

() 0 <class 'tuple'> 1833893625920
{'empid': 101, 'empname': 'Williums', 'job': 'Developer', 'location': 'Canada', 'married': True} 5 <class 'dict'> 1831839138176

<class 'function'> 1831850290480

In [51]:
# lambda function also called ananymous function
mySquare = lambda num: num * num
print (type(mySquare), id(mySquare))
print (mySquare(10), mySquare(12))

<class 'function'> 1831846002544
100 144

In [ ]:
Due topics: Recursive and Non-Recursive functions and more with Lambda function
Code with Harry - YT